// --- COLORS --- \\

$primary-color: #ff6060;
$secondary-color: #f7f7f7;
$tertiary-color: #ffffff;
$background: #000000;

// --- BREAKPOINTS --- \\

$tablet-breakpoint: 850px;
$mobile-breakpoint: 450px;