.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
}

@media only screen and (width <= 820px) {
    .logo {
        width: 125px;
        height: 40px;
    }
}