@import '../../styles/_main.scss';

.banner {
    @include banner;
}

@media only screen and (width <= 820px) {
    .banner {
        height: 100px;
        margin-top: 10px;
        @include border-radius-mobile;

        &_image {
            @include border-radius-mobile;
        }

        &_dark {
            @include border-radius-mobile;
        }

        &_text {
            @include font-size-title-mobile;
        }
    }
}

@media only screen and (width <= 450px) {
    .banner_text {
        white-space: normal;
        left: 38%;
        width: 70%;
    }
}