@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import '../utils/variables';

body {
    font-family: 'Montserrat', sans-serif;
    color: $primary-color;
    margin: 0 auto;
}

main {
  margin: 2% 5%;
}